<!-- 
<div class="card-deck" >
  <div class="col-sm"   *ngFor="let p of servicioPeli.peliculas">
    <div style="height: 70vh;width: 45vh; position: relative; left: 0; top: 0;">
    <img class="card-img-top" src={{p.imagen}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{p.titulo}}</h5>
      <p class="card-text">{{p.descripcion}}</p>
      <p class="card-text"><small class="text-muted">Valoracion: {{p.valoracion}} de 10</small></p>
      <button class="btn btn-info" (click)="verInfo(p)">Ver Info</button><button  (click)="borrar(p)" class="btn btn-danger" *ngIf="servicioLogin.adminlogueado">Borrar</button>
    </div>
    </div>
  </div>
</div> -->


<div class="row">
  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let p of servicioPeli.peliculas">
    <div class="card h-100" >
      <div style="height:350px">
      <a><img class="card-img-top" style="height: 100%; width:100%" src={{p.imagen}} alt=""></a>
      </div>
      <div class="card-body">
        <h4 class="card-title">
          <a>{{p.titulo}}</a>
        </h4>
        <p class="card-text">{{p.descripcion}}</p>
        <br>
        <p class="card-text">Valoracion: {{p.valoracion}} de 10</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-info" (click)="verInfo(p)">Ver Info</button><button  (click)="borrar(p)" class="btn btn-danger" *ngIf="servicioLogin.adminlogueado">Borrar</button>
      </div>
    </div>
  </div>
  </div>