<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titulo</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Genero</th>
        <th scope="col">Valoracion (1-10)</th>
        <th scope="col">Estado</th>
        <th scope="col"><button class="brn btn-danger" (click)="borrarHistorial()">Borrar Historial</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of peliculas">
        <th scope="row">{{p.id}}</th>
        <td>{{p.titulo}}</td>
        <td>{{p.descripcion}}</td>
        <td>{{p.genero}}</td>
        <td>{{p.valoracion}}</td>
        <td *ngIf="p.alquilada">Alquilada</td>
        <td *ngIf="!p.alquilada">Sin Alquilar </td>
      </tr>
    </tbody>
  </table>