<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/listapeliculas']" >Peliculas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" *ngIf="servicioLogin.adminlogueado" [routerLink]="['/listausuarios']">Usuarios <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Peliculas mas...
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/masalquiladas']">Alquiladas</a>
          <a class="dropdown-item" [routerLink]="['/masvaloradas']">Valoradas</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="servicioLogin.adminlogueado">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nuevo/a...
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/abmpelicula/nuevo']">Pelicula</a>
          <a class="dropdown-item" [routerLink]="['/abmusuario/nuevo']">Usuario</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" [routerLink]="['/login']" (click)="servicioLogin.logout()">Logout</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <a class="nav-link" *ngIf="this.servicioLogin.userlogueado==true"  [routerLink]="['/historial/',servicioLogin.userActual.id]">Mi Historial</a>
    </form>
    <form class="form-inline my-2 my-lg-0">
        
      <button class="btn btn-outline-success my-2 my-sm-0" *ngIf="this.servicioLogin.userlogueado==true" type="submit" (click)="devolver()">Devolver Pelicula</button>
    </form>
    
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Film</button>
    </form> -->
  </div>
</nav>
<router-outlet></router-outlet>