<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Usuario</label>
    <input type="email" class="form-control" name="name" [(ngModel)]='user' aria-describedby="emailHelp" placeholder="Usuario">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" name="name" [(ngModel)]='pass' placeholder="Password">
  </div>
  <button type="submit" (click)="loguear()" class="btn">Login</button>
  <br>
  <div *ngIf="this.alerta" class="alert alert-danger" role="alert">
    Usuario o Password invalido. Vuelva a ingresarlo
  </div>
</form>